* {
  /*border: 1px solid lawngreen;*/
  margin: 0;
}

/********/
/*colors*/
/********/

/*
dark blue-grey: #666A86
dark sky blue: #95B8D1
japanese indigo: #2E3B48
dutch white: #E8DDB5
nadeshiko pink: #EDAFB8
*/

/********/
/*layout*/
/********/

section {
  height: 800px;
  min-width: 1027px;
  width: 100%;
}

h1 {
  color: white;
  font-family: 'Megrim', sans-serif;
  font-size: 5rem;
  margin: auto;
  opacity: 0.9;
  position: relative;
  text-shadow: 0 0 10px #2e3b48;
  top: 35%;
}

h2 {
  color: white;
  font-family: 'Megrim', sans-serif;
  font-size: 5rem;
  margin: auto;
  opacity: 0.9;
  position: relative;
  text-shadow: 0 0 10px #2e3b48;
  top: 35%;
}

p {
  color: white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: justify;
}

p a {
  color: #EDAFB8;
  text-decoration: none;
}

/***********/
/*hero page*/
/***********/

.hero {
  background-attachment: fixed;
  background-color: grey;
  background-image: url(../images/mountain03.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav li {
  display: inline-block;
  font-family: 'Cormorant Garamond';
  margin: 1rem;
}

nav li a {
  color: #666A86;
  text-decoration: none;
}

hr {
  color: #666A86;
  margin: auto;
  width: 30%;
}

/*******/
/*about*/
/*******/

.about {
  background-color: #2e3b48;
  text-align: center;
  vertical-align: middle;
}

.about h2 {
  display: inline-block;
  position: relative;
  right: 18%;
  top: 15%;
  transform: rotate(-8deg);
}

.about p {
  float: left;
  left: 5%;
  position: relative;
  top: 27%;
  width: 50%;
}

.container {
  clear: both;
  display: inline-block;
  height: 90%;
  margin: auto;
  min-width: 925px;
  vertical-align: middle;
  width: 80%;
}

.center-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#author-pic {
  border-radius: 5rem;
  display: block;
  float: left;
  height: 80%;
  position: relative;
  top: 10%;
  width: auto;
}

/******/
/*blog*/
/******/

.blog {
  background-color: #E8DDB5;
}

/***********/
/*portfolio*/
/***********/

.portfolio {
  background-color: #666A86;
}

/*********/
/*contact*/
/*********/

.contact {
  background-color: #95B8D1;
}
