/*********** FONTS **********/

font-family: 'Dosis', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Berkshire Swash', cursive;

.dosis-font {
  font-family: 'Dosis', sans-serif;
}

.comfortaa-font {
  font-family: 'Comfortaa', cursive;
}

.berkshire-font {
  font-family: 'Berkshire Swash', cursive;
}

/************ DRY ***********/

.pos-abs {
  position: absolute;
}

.full-width {
 width: 100%;
}

.center-text {
  text-align: center;
}

/*********** BODY ***********/

body {
  margin: -2% 0 0 0;
}

/*********** MAIN ***********/

p {
  font-size: 40px;
  padding-top: 1.75em;
  margin: 0;
  height: 3em;
}

.p1 {
  background-color: #FE4A49;
}
.p2 {
  background-color: #FED766;
}
.p3 {
  background-color: #009FB7;
}

/********** HOVER **********/

.cool-hover {
  position: relative;
}

.overlay {
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #E6E6EA;
  overflow: hidden;
  height: 0;
  transition: .5s ease;
  text-decoration:none;
}

.cool-hover:hover .overlay {
  bottom: 0;
  height: 100%;
}

.cool-hover:hover a {
  text-decoration: none;
  width: 100%;
  color: white;
}

.text {
  color: white;
  font-size: 40px;
  top: 50%;
  left: 50%;
  padding: 1px 0 2px 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*********** FOOTER *********/

footer p {
  font-size: 12px;
  padding: 0;
  background-color: #F4F4F8;
}
