<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <link href="../styles/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link href="../styles/main.css" rel="stylesheet">
    <title>guillermina</title>
</head>

<body>
    <header>
        <nav>

        </nav>
    </header>
    <section class="header_box">

    </section>
    <section class="main_box">
        <h2>hi i'm guillermina muro,</h2>
        <section class="main_info">
            <h4>currently:</h4>
            <ul>
                <li>a student at <a href="https://http://adadevelopersacademy.org/">Ada Developers Academy</a> in Seattle, WA</li>
                <li>probably reading emoji texts from my mom but in spanish</li>
            </ul>
        </section>
<hr>
<article>
<img src="../assets/strawberries.png"/>
    <h3></h3>
<p>well what is happening</p>
        </article>


    </section>


    <section class="photo_box">
        <article id="index">
            <a href="index.html">index.html</a></article>
        <article id="about"><a href="about.html">about.html</a></article>
        <article id="portfolio"><a href="portfolio.html">portfolio.html</a></article>
        <article id="blog"><a href="blog.html">blog.html</a></article>
        <article id="five">
        </article>
        <article id="six">
        </article>


    </section>
    <footer>
    </footer>

</body>

</html>