li {
  color: black;
}

a:link {
    color: white;
}
a:visited {
    color: gray;
}
a:hover {
    color: rgb(235, 11, 199);
}
a:active {
    color: #9999ff;
}

#highlight {
  color: rgb(235, 11, 199);
}

#header-style {
  background-color: black;
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
}

.main-background-image {
  clear: both;
    /* The image used */
  background-image: url("../space.jpg");

  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header h3 {
  width: 20%;
  float: left;
  margin: 4% 0 1% 0;
  color: white;
}

/* articles */

main p:first-of-type {
  margin: 0;
  padding: 5% 0 5% 0;
  color: white;
}

main .main-content {
  position: relative;
  left: 50px;
}

section .project {
  background-color: rgb(213, 223, 227);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: inline-block;
  padding: 7%;
  /*border: solid;
  border-color: black;*/
  margin: 5% 2% 2% 1%;
}

.project p:first-of-type {
  color: black;
  padding: 5%;
  margin: 5% 0 0 0;
  width: 230px;
  height: 115px;
  overflow-wrap: break-word;
}

.project h3 {
  text-align: center;
  overflow-wrap: break-word;
  margin: 5% 0 0 0 ;
}

.project p:last-child {
  text-align: center;
  vertical-align: bottom;
  margin: 10% 0 0 0;
}

.project a {
  color: black;
}

/*footer*/

footer {
  background-color: black;
}

/******************/
/*    Clearfix     */
/*****************/

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
