


html {
/*    background-color: #FE;*/
    font-family: Flavors;
    font-weight: lighter;
    color: #222;
    font-size: 2em;
}

.introduction {
    text-align: center;
}

ul {
  list-style-type: none;
}

header nav {color:azure
    
}

.boi {color: whitesmoke;
    text-decoration: none;
    
}



html { 
  background: url("https://ak7.picdn.net/shutterstock/videos/30041287/thumb/1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body { 
    color: whitesmoke
}