/*********** BODY ***********/
.about {
  background-color: #009FB7;
}

/*********** MAIN ***********/
main.about {
  background-color: #FED766;
}

div.about-wrapper {
  display: flex; /* flex display */
  justify-content: space-between; /* left and right */
  width: 100%
}

div.contact-wrapper {
  text-align: center;
  float: left;
  width: 33%;
}

div.contact-wrapper img {
  border-radius: 100em;
  height: 150px;
  background-color: white;
}

div.contact-wrapper li {
  justify-content: space-between; /* left and right */
  display: inline-block;
}

article.about-me {
  width: 33%;
}

div.profile-img {
  width: 33%;
}
div.profile-img img {
  height: 450px;
  border-radius: 2em;
}

span.sara-eff {
  font-family: 'Berkshire Swash', cursive;
}
