/********** HEADER **********/
header {
  background-color: #FED766;
}

/*********** MAIN ***********/
main {
  color: #FE4A49;
}

main h3 {
  font-size: 30px;
}

main p {
  font-size: 18px;
}

main.code-journal article {
  float: left;
}

article.jan img, article.april img {
  width: 300px;
  float: left;
}

article.may img {
  height: 300px;
  float: left;
  border-radius: 1em;
}

article.sept ul {
  list-style: none;
}

article.sept img {
  width: 10%;
  border-radius: 10em;
  float: left;
}
