
/******************
General Stuff
******************/

body {
  background-color:
  #ece5c8;
  color:  #604872;
  font-family: Verdana;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #d67950;
}

/******************
Header
******************/


header nav {
  width: 100%;
  height: 60px;
  background-color: #f3deb0;
  margin-bottom: 0px;
}

header nav ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding-left: 5px;
  padding-top: 15px;
  z-index: 100;
}

header nav li {
  display: inline;
  padding-right: 10px;
}

header .internal-links {
  float: left;
  clear: left;
}

header .contact-links {
  float: right;
  clear: right;
}

/******************
Main Content
******************/
/******************
Index Page
******************/

.opening-info {
  background: url('../images/punchcards.jpg');
  background-repeat: no-repeat;
  /*background-position: center center;*/
  background-size: cover;
  clear: both;
  height: 900px;
}

.opening-titles {
  text-align: center;
  padding-top: 30px;
  position: relative;
  left: 950px;
  top: 100px;
  margin: 0px;
  width: 30%;
}

/******************
About Page
******************/

.about_images {
  border: 5px black solid;
  height: 800px;
  /*position: absolute;*/
  width: 100%;
}

.top-left-box img {
  /*ignite*/
  border: 5px silver solid;
  clear: left;
  float: left;
  /*display: inline-block;*/
  position: relative;
  left: 100px;
  top: 75px;
  margin: 0;
  width: 30%;
}

.top-right-box img {
  border: 5px red solid;
  clear: right;
  float: right;
  position: relative;
  right: 100px;
  top: 80px;
  margin: 0;
  width: 40%;
  /*name*/
}

.bottom-left-box  {
  border: 5px blue solid;
  clear: left;
  float: left;
  position: relative;
  left: 100px;
  top: 100px;
  width: 40%;
  /*ada*/
}

.bottom-left-box img {
  width: 100%;
}
.bottom-left-box h4 {
  border: 3px purple solid;
  text-align: center;
}

.bottom-right-box {
  border: 1px green solid;
  clear: right;
  float: right;
  position: relative;
  right: 100px;
  top: 100px;
  width: 40%;
  /*seattle*/
}

.bottom-right-box img {
  width: 100%;
}

.bottom-left-box h4 {
  border: 3px purple solid;
  text-align: center;
}


/******************
Portfolio Page
******************/
.picture_container {
  border: 5px solid red;
  width: 100%;
  height: 100%;
  /*position: absolute;*/
}

.main_picture {
  border: 2px solid green;
  display: block;
  width: 50%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  /*padding: 0, auto; */
}

/******************
Footer
******************/

footer {
  border: 1px red solid;
  margin-top: 0;
}

footer p {
  border: 1px green solid;
  color: red;
  margin-top: 0;
}



/*@import url('https://fonts.googleapis.com/css?family=Oswald');*/
/*url('https://fonts.google.com/?category=Sans+Serif&query=lekt&selection.family=Lekton');*/

/*#AFAFA8; */
/*#4A423C
#0E0D0D
#FFC0A9
#748D5C
5A656D*/
