/*Photo by Patrick Fore on Unsplash
Photo by Kalen Emsley on Unsplash*/

* {
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica;
}

html {
  background:linear-gradient(white,#292929);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrapper {
  min-height: 100%;
	/*position:relative;*/
}

a:hover {
  text-shadow: 2px 2px #292929;
  /*background-color: teal;*/
}

header {
  text-align: center;
  height: 7em;
  margin: 1em 2em;
}

header a {
  text-decoration: none;
  color: #efefef;
  opacity: 0.7;
}

header li {
  display: inline;
  text-decoration: none;
  padding-left: 2em;
  list-style-position: outside;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}

#nav-left {
  float:left;
  margin-left: -5em;
}

#nav-right {
  float: right;
}

#nav-name {
  color: #a9b4bd;
  opacity: 0.7;
  font-family: 'Mrs Sheppards';
  font-size: 4em;
  text-shadow: 2px 2px #292929;
  margin-left: 1em;
}

#nav-name:hover {
  color: #607a9e;
}

article {
  width: 80%;
  max-width: calc(100% - 4em);
  margin: 0 auto;
  padding: 2em;
  background-color: #aaa;
  border-radius: 3px;
  opacity: 0.8;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  color: #efefef;
  opacity: 0.7;
}

footer li {
  display: inline;
  text-decoration: none;
  padding-left: 2em;
  list-style-position: outside;
}

#footer-left {
  position: absolute;
  bottom: 1em;
  float: left;
  padding-left: 1em;
}

#footer-right {
  position: absolute;
  bottom: 0;
  right: 0;
  float: right;
  padding-right: 1em;
}

footer img {
  width: 2em;
}
