img {
  height: 500px;
  padding-right: 50px;
}
header {
  height: 5%;
  background-image: url("../images_style_sheets/fronds5.jpg");
}
ul {
  list-style-type: none;
  margin: 0;
}
.nav {
  color: white;
  /*font-weight: bold;*/
  /*color: rgb(123, 164, 209);*/
  /*color: rgba(213, 85, 158, 0.96);*/
  font-family: 'Londrina Shadow', cursive;
font-weight: bold;
   /*font-family: 'Source Code Pro', monospace;*/
  text-decoration: none;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  font-size: 50px;
}
.nav:hover {
  color: rgb(242, 255, 134);
}
/*.nav:hover::before {
content:"🥑🥑";
}
.nav:hover::after {
content:"🥑🥑";
}*/
.hello {
  max-height: 60%;
  display: flex;
  justify-content: center;
  background-color: rgb(233, 177, 211);
}
.parent {
  font-family: 'Amatic SC';
  color: rgb(102, 51, 167);
  font-size: 2em;
  width: 600px;
}
.parent h1 {
  color: white;
  margin-bottom: 0;
}
.parent p {
  margin-top: 0;
}
.parent a {
  text-decoration: none;
}
.parent a:hover {
  font-weight: bold;
  color: rgb(102, 51, 167);
}
footer p {
  margin-top: 0;
  margin-bottom: 0px;
  color: white;
  height: 50px;
  font-family: 'Source Code Pro', monospace;
  background-image: url("../images_style_sheets/fronds5.jpg");
}
html {
  margin-bottom: 0;
}
