body {
  background-color: rgb(240, 251, 232);
}
ul {
  list-style-type: none;
}
header {
  height: 300px;
  background-image: url("../images_style_sheets/fronds2.jpg");
  background-size: cover;
}

.nav {
  font-family: 'Londrina Shadow', cursive;
  text-decoration: none;
  float: right;
  clear: right;
  font-size: 50px;
  background-color: rgb(230, 251, 217);
}
.nav:hover {
  color: rgb(19, 137, 179);
}
h2 {
  clear: both;
  font-family: 'Londrina Shadow', cursive;
  font-size: 60px;
  width: 600px;
  color: black;
  text-align: center;
  text-shadow: 2px 2px white;
  background-image: url("../images_style_sheets/fronds3.jpg");
  border-radius: 2em;
  margin-bottom: 20px;
  margin-top: 20px;
}
div {
  font-size: .7em;
  font-family: 'Nunito Sans', sans-serif;
  color: rgb(16, 67, 156);
  font-weight: bold;
}
p {
  color:rgb(135, 27, 118);
  font-family: 'Nunito Sans', sans-serif;
}
article {
  padding-left: 20%;
  width: 700px;
}
img {
  height: 300px;
  padding: 10px;
  /*max-width: 600px;*/
}
img:nth-last-of-type(odd) {
  float: left;
}
img:nth-last-of-type(even) {
  float: right;
}
