/*generic*/

li {
  color: white;
}

a:link {
  color: white;
}

a:visited {
  color: gray;
}

a:hover {
  color: white;
}

a:active {
  color: rgb(235, 11, 199);
}

/*header*/

#highlight {
  color: rgb(235, 11, 199);
}

#header-style {
  background-color: black;
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
}

header h3 {
  width: 20%;
  float: left;
  padding: 1% 0 0 0;
  color: white;
}

/*main*/

.main-background-image {
  background-image: url("../images/stars.jpg");
  padding: 0 0 10% 0;
}

/* articles */

#alone {
  margin: 0;
  padding: 15% 0 3% 1%;
  color: white;
}

main .main-content {
  position: relative;
  left: 45px;
}

.project {
  background: rgba(204, 204, 204, 0.1);
  width: 80%;
  height: 350px;
  display: inline-block;
  margin: 5%;
}

.date {
  color: rgb(250, 249, 244);
  overflow-wrap: break-word;
  padding: 0 0 0 2%;
  margin: 5% 0 0 0;
}

.project .post {
  color: rgb(250, 249, 244);
  margin: 5%;
  height: 210px;
  width: 90%;
  overflow-wrap: break-word;
  overflow: scroll;
  line-height: 1.5em;
}

::-webkit-scrollbar {
  width: 12px;
  display: none;
}

.project a {
  color: black;
}

/*footer*/

footer {
  background-color: black;
  border-style: solid;
  border-top-width: 1px;
  border-top-color: white;
}

footer h4 {
  color: white;
}

footer img {
  border: 2px solid black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

footer img:hover {
  border: 2px solid white;
}
