@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer');

body{
  font-family: "IM Fell Great Primer"
}
main section h2, main section article h3{
  font-size: 36px;
  text-align: center;
}

section .contact-me img{
  width: 100px;
}

section .contact-me{
  display: inline-block;
  margin: 10px;
}

img{
  width: 100%;
}
