body {
  background-color: /*#DB5461 #AEE8D5*/#FFBFA0;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  box-sizing: content-box;
}
body:after {
    background:/*#FFBFA0*/#7EB4D3;
    background: #62B6CB;
    position:fixed;
    top:0;
    bottom:7vh;
    right:0;
    left:0;
    content:" ";
    z-index:-1;
}

/* HEADER */
ul {
  /*position: fixed;*/
  width: 100%;
  padding: 0px;
}
ul li {
  list-style: none;
  display: inline;
  font-size: 1rem;
  text-transform: uppercase;
}
ul li a {
  color: white;
  text-decoration: none;
  padding: 5px
}
ul li a:hover {
  color: #7D827A;
  border-bottom: 2px white solid;
}

/* MAIN */

.contact {
	perspective: 1000px;
  color: grey;

}

/* FLIP ANIMATION FROM ISAAC CODEPEN */

	/* flip the pane when hovered */
.contact:hover .flipper, .contact.hover .flipper {
	transform: rotateY(180deg);
}

.recto p:first-of-type {
  font-size: 1.3rem;
  font-size: 1.8rem;
  font-family: 'Lobster', cursive;
    margin-top: 62px;
    margin-bottom: 0em;
}

.recto p:nth-of-type(2) {
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Nixie One', cursive;
  margin-top: 0.2em;
  margin-bottom: 0em;
}

.verso p a, .verso p  {
  margin-top: 0.5rem;
  margin-bottom: 0em;
  text-decoration: none;
  color: grey;
}

.verso-content {
  margin-top: 54px;
}

.contact, .recto, .verso {
	width: 300px;
	height: 190px;
  margin: auto;
  margin-top: 15vh;

}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.recto, .verso {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  box-shadow: 0px 0px 1px #505151;
}

/* front pane, placed above back */
.recto {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
  background-color: #F5ECCD;
  border-radius: 15px;
}

/* back, initially hidden pane */
.verso {
	transform: rotateY(180deg);
  background-color: #F5ECCD;

  border-radius: 15px;
}

.arrow { /* FOR FUTURE CONTENT */
  position: relative;
  margin: auto;
  top: 130px;
  text-align: center;
  bottom: 0px;
  width: 15px;
  height: 15px;
  border-bottom: 2px white solid;
  border-right: 2px white solid;
  transform: rotateZ(45deg)rotateY(0deg);
  animation: upanddown 1.5s infinite;

}

@keyframes upanddown {
    0%   {top: 330px;}
    50%  {top: 335px}
    100% {top: 330px;}
}

/* FOOTER */

footer {
}
[src="images/phone.png"] {
  width: 200px;
  position: absolute;
  right: 2vw;
  bottom: 3vh;
}
