@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer');

body{
  font-family: "IM Fell Great Primer";
  background-color: lightcyan;
  background-image: url("../images/computer-2557644_1920.jpg");
  background-blend-mode: overlay;
  background-size: cover;
}
main section h2, main section article h3{
  font-size: 48px;
  text-align: center;
}

section .contact-me img{
  width: 100px;
  text-align: center;
  margin: 0px;
  border-radius: 200px;
  box-shadow: 10px 5px 5px black;
  background-color: lightseagreen;
}

.contact-me h3{
  font-size: 18px;
}
section .contact-me{
  display: inline-block;
  margin: 20px;
  vertical-align: middle;
  text-align: center;
  width:15%;

}


img{
  width: 100%;
}
