@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/******** MAIN ********/

main header {
  text-align: center;
  font-weight: bolder;
}

main article {
  padding: 0 2em 2em 2em;
  font-weight: lighter;
}

.articles-wrapper {
  max-width: 80%;
  margin: 0 auto;
  text-align: justify;
  max-height: 325px;
  overflow: scroll;
  background-color: white;
  border-radius: 2rem;
  border: 2px solid black;
}

.articles-wrapper header {
  border-bottom: 1px dashed black;
}

.articles-wrapper h3 {
  margin-bottom: 0;
}

.articles-wrapper h4 {
  margin-top: 10px;
}
