/*main*/
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Overlock');

main {
  z-index: 0;
  margin: 10vw;
  position: relative;
  overflow: hidden;
}

main h1, main p, main h2{
  font-family: 'Overlock', cursive;
}


.intro {
  position: relative;
  display: block;
  padding: 5vw;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 10vw;
}

.intro h1 {
  text-align: center;
  font-size: 5vw;
  padding-bottom: 3vw;
  border-bottom: #EE964B double 10px;
  border-top: #EE964B double 10px;
  padding: 2vw;
  color: #9C873C;
  max-width: 600px;
}

#profile_img img{
  max-height: 20vw;
  border-radius: 50%;
  border: solid 1px #9C873C;
  display: block;
  margin: 0 auto;
  margin-bottom: 2vw;
}

.intro article {
  display: inline-block;
  text-align: center;
  padding: 5vw;
  padding-top: 0;
  border: solid 4px #9C873C;
  max-width: 400px;
}




/*main*/


/*colors:
dark green: #1F271B
dark blue: #19647E
light sea green: #28AFB0
blond: #FDF7E1
peach bluff: #F8D8BD

*/
