
.title {
  background-color: #e6fff2;
}

main {
  /*height: 90vw;*/
  background-color: #99d6ff ;
}

body {
  background-color: #99d6ff ;
}


footer {
  background-color: #e6fff2;
  position: fixed; bottom: 0; left:0; right: 0;
}


nav li a:hover {
  border-bottom: solid #99d6ff;
}

#links {
 margin-top: 10vw;

}

#links a {
  font-size: 3em;
  color: black;
  text-decoration: none;
  text-align: center;
}

#links a:hover {
  color:#e6fff2;
}
