body {
  /*background-color: #FFBFA0 #AEE8D5;*/
  background-color: #BCD979;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  box-sizing: content-box;
  height: 100%;
}
/*body:after {
    background: #654F6F;
    background: #B6A6CA;
    background: #CDE7B0;
    background: #BCD979;
    position:fixed;
    top:0;
    bottom:7vh;
    right:0;
    left:0;
    content:" ";
    z-index:-1;
}*/

/* HEADER */
header {
  position: fixed;
  margin: auto;
  height: 60px;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 8;
}
ul {
  width: 100%;
  padding: 0px;
}
ul li {
  list-style: none;
  display: inline;
  font-size: 1rem;
  text-transform: uppercase;
}
ul li a {
  color: white;
  text-decoration: none;
  padding: 5px
}

ul li a:hover {
  color: #7D827A;
  border-bottom: 2px white solid;
}

/* COMPUTER */

.imac {
  position: relative;
  float: left;
    top: 200px;
    left: calc((100% - 350px)/2);
    margin: 0px;
    height: 380px;
    width: 350px;
    box-sizing: border-box;
    padding-left: 30px;
}
.screen {
  position: absolute;
  top: 10%;
  left: -4px;
  height: 52%;
  width: 95%;
  background: linear-gradient(45deg, #91C2FF 75%, #9EC9FF 75%);
  border: 10px solid #2c2e2d;
  border-radius: 5px 5px 0 0;
  z-index: 2;
}
.screen::before {
  position: absolute;
  display: block;
  content: "";
  top: -8px;
  left: calc((100% - 3px)/2);
  height: 5px;
  width: 3px;
  border-radius: 50%;
  background: #c6c6c6;
  opacity: 0.3;
}

.screen:after {
  position: absolute;
  display: block;
  content: "";
  bottom: -18px;
  left: -27px;
  height: 4px;
  width: 113%;
  background: #e0e2e2;
  border: 5px solid #e0e2e2;
  border-radius: 3px;
}

.foot {
  visibility: hidden;
  position: absolute;
  bottom: 14%;
  left: calc((100% - 21%)/2);
  height: 14%;
  width: 21%;
  background: linear-gradient(10deg, #e0e2e2 75%, #c6c6c6 75%);
  z-index: 1;
  -webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
}

.bottom {
    visibility: hidden;

  position: absolute;
  bottom: 13%;
  left: calc((100% - 25%)/2);
  height: 8px;
  width: 25%;
  background: #c6c6c6;
  border-radius: 2px 2px 0 0;
  z-index: 3;
}

.project-list {
  position: absolute;
  margin-top: 520px;

}
.project-list li {
  list-style: circle;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}
.project-list li a:hover {
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
}

.triangle-l , .triangle-r {
  visibility: hidden;
}

.project-list li:hover .triangle-l, .project-list li:hover .triangle-r {
  visibility: visible;
  color: #7D827A;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #FFBFA0;
  text-align: center;
  height: 15px;
  z-index: -9;
}
