
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:700');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One');


*{
  border: solid ;
  border-color: black ;
  border-width: 2px;
}
body {
  background-image: url('../assets/gooooat.jpg');
}
header {
  font-family: 'Yeseva One';
  text-transform: uppercase;
  font-size: 5em;
  text-align: center;
  background-image: url('../assets/gooooat.jpg');
}

p, h2, h3, a ,li,{
  font-family: 'Poiret One';
}
.main-banner {
color: grey      ;
font-size: 6em;
text-shadow: 2px 2px cyan;
background-position: center;
box-sizing: content-box;
background-attachment: scroll;


}
