a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #39c300;
}

p {
  color: white;
  font-family: 'Miriam Libre', sans-serif;
}

h1 {
  font-family: 'Righteous', serif;
  color: white;
}

nav, h2, h3 {
  font-family: 'Cambay', sans-serif;
}

nav ul {
  display: inline-block;
  padding: 2em;
  list-style: none;
  float: right;
}

footer {
  position: fixed;
  bottom: 0;
  clear: both;
  padding: 1em;
  color: white;
}

body#home {
  background-color: white;
}

header#home-header h1 {
  display: inline;
  font-size: 8em;
  padding: 4px;
  font-weight: 900;
}

.red {
  color: #ee0435;
}

.orange {
  color: #ff4d00;
}

.yellow {
  color: #ffe600;
}

.green {
  color: #39c300;
}

.blue-green{
  color: #05e9ff;
}

.blue {
  color: #0074fc;
}

.indigo {
  color: #0119f0;
}

.violet {
  color: #7e07f5;
}

.magenta{
  color: #f400be;
}

section.name {
  display:inline-block;
  float: left;
  min-width: 50%;
  max-width: 70%;
}

header#home-header ul{
  position: absolute;
  right: 0;
}

header#home-header li {
  padding: 1.5em;
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: 700;
}

header#home-header li:hover {
  border: solid 4px #f400be;
  border-radius: 3em;
}

header#home-header a{
  color: #555555;
}

header#home-header a:hover {
  color: black;
}

header#home-header a:visited {
  color: #555555;
}

#home footer {
  color: #555555;
}

#gradient{
  clear: both;
	width: auto;
	height: 8px;
	background: #ff2a36; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #ff2a36 0%, #ff7a51 13%, #ffff66 25%, #7dff43 37%, #00783e 50%, #00d0cf 62%, #4200ed 76%, #e200d4 88%, #f40067 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff2a36), color-stop(13%,#ff7a51), color-stop(25%,#ffff66), color-stop(37%,#7dff43), color-stop(50%,#00783e), color-stop(62%,#00d0cf), color-stop(76%,#4200ed), color-stop(88%,#e200d4), color-stop(100%,#f40067)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #ff2a36 0%,#ff7a51 13%,#ffff66 25%,#7dff43 37%,#00783e 50%,#00d0cf 62%,#4200ed 76%,#e200d4 88%,#f40067 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #ff2a36 0%,#ff7a51 13%,#ffff66 25%,#7dff43 37%,#00783e 50%,#00d0cf 62%,#4200ed 76%,#e200d4 88%,#f40067 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #ff2a36 0%,#ff7a51 13%,#ffff66 25%,#7dff43 37%,#00783e 50%,#00d0cf 62%,#4200ed 76%,#e200d4 88%,#f40067 100%); /* IE10+ */
background: linear-gradient(135deg,  #ff2a36 0%,#ff7a51 13%,#ffff66 25%,#7dff43 37%,#00783e 50%,#00d0cf 62%,#4200ed 76%,#e200d4 88%,#f40067 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2a36', endColorstr='#f40067',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body {
  background-color: #2f2f2f;
}

header.sub-page {
  font-size: 1.5em;
  line-height: 1em;
}

section.initials {
  display: inline-block;
  max-width: 15%;
  margin-bottom: 6px;
}

header.sub-page nav {
  float: right;
}

header.sub-page h1 {
  margin: 0;
  padding: 5px;
  min-width: 10%;
  max-width: 30%;
}

header.sub-page ul {
  position: relative;
  top: 45px;
  float: right;
  padding: 1px;
  margin-bottom: 4px;
}

header.sub-page li {
  display: inline-block;
  width: 5em;
  text-align: center;
  padding: 2px 1em;
}

h1.sub-page {
  padding: 3px;
  margin-left: 1em;
}

h2.sub-page {
  color: white;
  margin-left: 2em;
}

article.project {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  max-width: 48em;
  min-width: 15em;
  padding: 2px;
  margin: 10px auto;
}

article.project section {
  display: inline-block;
  margin: 0 auto;
}

article.project img {
  max-width: 45em;
  min-width: 15em;
  padding: 3px;
  border-radius: 3px;
  border: black solid 5px;
}

article.project p {
  text-align: left;
  padding: 1em 2em;
  margin: 0 auto;
  color: black;
}

article.blog-post {
  border: solid  #05e9ff 10px;
  border-radius: 1em;
  max-width: 60em;
  margin: 2em auto;
  padding: 5px;
  color: white;
}

article.blog-post h2 {
  margin: 5px 1em;
}

article.blog-post h3 {
  border-bottom: solid  #ffe600 6px;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

article.blog-post p {
  padding: 4px;
  max-width: 55em;
  margin: 5px auto;
}

.about h2 {
  display: inline-block;
  margin: 0 1.5em;
}

.about img {
  width: 15em;
  border: solid white 6px;
  border-radius: 4px;
  margin: 5px;
}

.about p {
  width: 40%;
  padding: 1em;
  margin: 0 1em 0 2em;
  float: left;
}

section#photo-strip {
  position: relative;
  bottom: 3em;
  width: 30%;
  float: right;
  margin-right: 3em;
  text-align: justify;
}
