@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("../images/wallpaper.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
}

/******** HEADER ********/

#top-header {
  padding: 2% 5%;
  background-color:rgba(245, 245, 245, 0.5);
}

#top-header h1 {
  float: left;
  display: inline-block;
  font-family: 'Sacramento', cursive;
}

#top-header nav {
  overflow: hidden;
}

#top-header nav ul {
  float: right;
  display: block;
}

#top-header nav li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: grey;
}

#top-header li:hover {
  border-bottom: 1px black double;
}

#top-header li a:visited {
  color: black;
}

#top-header li a {
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
  color: black;
}
