@import url('https://fonts.googleapis.com/css?family=Arima Madurai');
@import url('https://fonts.googleapis.com/css?family=Overlock');
@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Flamenco');
@import url('https://fonts.googleapis.com/css?family=Amatica SC');

body {
  color: gray;
  align-items: center;
  margin: 0;
}
/*********************/
/* HEADER            */
/*********************/

header {
  width: 100%;
  background-color: #F2EAF4;
  color: #616061;
  height: 5%;


}

header a {
  text-decoration: none;
  color: #616061;
  margin: 0;
  width: 100%;

}

header nav {
  width: 50%;
  display: inline-flex;
}

header ul {
  display: inline-flex;
  width: 100%;
}

header li {
  padding: 1% 2%;
  /*margin: 5% 5% 5% 5%;*/
  list-style: none;
  display: inline-flex;
  width: 25%;
}

header h1 {
  width: 30%;
  display: inline-flex;
  margin-left: 5%;

}

/*********************/
/* section hello           */
/*********************/
.hello a {
  text-decoration: none;
    color: white;
  margin: 0;
  width: 100%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 150%;

}

.hello nav {
  width: 100%;
  display: inline-flex;

}

.hello ul {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.hello li {
  padding: 1% 8%;
  /*margin: 5% 5% 5% 5%;*/
  list-style: none;
  width: 20%;
}

.hello {
 background-image: url('../images/the_point_2000.jpg');
 background-size: cover;
 height: 800px;
 display: flex;
 justify-content: space-between;
 flex-direction: column;
 font-family: 'Amatica SC';
 color: white;
}

.hello h2 {
  margin: auto auto;
  font-size: 700%;
}

.hello p {
  margin: 12% auto;
  font-size: 200%;
}


/*********************/
/* footer         */
/*********************/
footer {
  background-color: #EDEBED;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;

}



/*********************/
/* paralax         */
/*********************/
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 800px;
  /*background-position: 50% 50%;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0;
}
section.module.parallax-1 {
  /*background-image: url("../img/demo/_small/1.jpg");*/
  background-image: url("../images/the_point_2000.jpg");
}
section.module.parallax-2 {
  background-image: url("../img/demo/_small/2.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/demo/_small/3.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
