html {
  box-sizing: border-box;
}

body {
  display: block;
  background-color: white;
  /*font-family: 'Work Sans', sans-serif;*/
  font-family: 'Open', sans-serif;
  /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Bungee', sans-serif;*/
  /*font-family: 'Play', sans-serif;*/
}

.home {
  /*background-color: #ffc000;*/
  background-color: #fff;
}

/*this doesnt work but i want it to*/
/*.home .sticky-nav {
  visibility: collaps;
}*/

.portfolio {
  /*background-color: #db2518;*/
  background-color: #ffc000;
}

.code-journal {
  background-color: #0e3c7f;
}

.about {
  background-color: #0a6037;
}


a {
  text-decoration: none;
  color: black;
  font-family: 'Bungee', sans-serif;
  display: inline-block;
  position: relative;
}

/*header h2 {
  text-align: center;
}*/

header a[href ^= "index"]:hover {
  color: orange;
  text-transform: uppercase;
  transform: rotateY(360deg);
  transition: transform 5s ease;
  position: relative;
}

a:hover {
  color: orange;
}

header {
  width: 100%;
  /*border-bottom: solid gray 1px;*/
  /*box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);*/
  position: fixed;
  text-align: center;
  /*background: white;*/
  background: linear-gradient(180deg,rgba(0,0,0,.45),transparent 90%);
  top: 0px;
  /*overflow: visible;*/
}

header h2 {
  margin-bottom: 0;
  color: white;
}

nav {
  padding-top: 10px;
  position: relative;
}

footer {
  width: 100%;
  /*border: solid black 2px;*/
  margin: auto;
  position: relative;
  bottom: 0;
  background-color: #f9f7f7;
}

footer h4, p {
  display: inline-block;
}

.footer-text {
  /*margin: auto;*/
  padding-left: 10px;
  width: 60%;
  /*text-align: center;*/
}

.container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*opacity: .70; */
}

nav ul {
  text-align: center;
}
nav li {
  display: inline-block;
  margin: 0 20px;
}

/*.sticky-nav {
  position: sticky;
  top: 10px;
  opacity: 0.7;
  border: dashed blue 2px;
  background: lightgray;
}*/

.circle {
  shape-outside: circle(10px);
}

main {
  min-height: 50%;
  overflow: scroll;
  border: black solid .5px;
  margin-top: 130px;
  display: flex;
  padding: 30px;
  width: 90%;
  margin: 130px auto 0 auto;
  /*background-color: white;*/
  border-radius: 15px;
  /*margin-top:30px;*/
  /*display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);*/
}

/*main section:first-of-type {
  background-color: blue;
  grid-column: 1 / 3;
  grid-row: 1 / 4;
}*/

main article {
  padding: 20px;
  display: inline-flex;
  /*width: 60%;
  flex-wrap: wrap;*/
}

main article:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

nav.container {
  padding: 0px;
}

/*.blog-post:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}*/

.blog-post p {
  /*margin: 20px;*/
  border: solid black 2px;
  /*width: 100%;*/
  background-color: white;
}

.blog-post {
  flex-wrap: wrap;
  margin: 20px;
  width: 60%;
}

.featured.project {
  /*just to see the shape*/
  margin: 10px;
  /*border: black solid 2px;*/
  overflow-y: scroll;
}

.project {
  /*border: black dotted 2px;*/
  margin: auto;
}

.footer-text {
  display: inline-block;
}

/*every nth section, make the hover background color different, make it animate? but also give it a slight gray shadow to make it look like its hovering*/


/*social media link styling below*/
.social-menu {
  display: inline-block;
}
.social-menu ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: gray;
    text-decoration: none;
}

.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
}
.fa-github:hover {
    background-color: darkslategrey;
}

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
}
.fa-twitter:hover {
    background-color: #00aced;
}
/*.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
}*/
/*.fa-rss:hover {
    background-color: #eb8231;
}*/
/*.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
}*/
/*.fa-youtube:hover {
    background-color: #e64a41;
}*/
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
/*.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;*/
}
.fa-google-plus:hover {
    background-color: #e25714;
}

/*playing with shapes */
/*https://css-tricks.com/examples/ShapesOfCSS/*/
/*https://1stwebdesigner.com/css-shapes/*/
/*https://css-tricks.com/working-with-shapes-in-web-design/*/
/*https://www.html5rocks.com/en/tutorials/shapes/getting-started/*/
#egg {
    width: 100%;
    height: 190px;
    background: #ffc000;
    display: block;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    text-align: center;
}

#egg.hover {

}


#tv {
  position: relative;
  width: 90%;
  height: 150px;
  margin: 20px 0;
  background: red;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
}

#tv:before {
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}


#about-blurb {
  width: 60%;
  background-color: #0a6037;
  padding: 10px;
}

/*below doesnt work*/
/*#about-blurb article:hover {
  transform: rotateY(45deg) translateZ(0);
}*/

#shape {
  background-color: #0e3c7f;
  width: 60%;
}

.home main {
  width: 70%;
}


footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  /*padding: 1rem;*/
  background-color: #efefef;
  /*text-align: center;*/
}
